# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.user.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/misc.xml
/logs
/results
/.idea/*.iml
*.iml